<!-- <div class="close d-flex justify-content-right mt-2 mr-3">
  <div class="close-icon"> 
    <i class="fa fa-times text-danger" mat-dialog-close aria-hidden="true"></i>
  </div>
</div>
  <div class="container mt-5 cust" >
    <div class="row">
      <div class="col-sm-12">
        <h1>Leave Details</h1>
      </div>
      <div class="col-sm-6">
          <mat-form-field color="accent" appearance="fill">
            <mat-label>Start From</mat-label>
            <input matInput [matDatepicker]="picker1" [(ngModel)]="startDate" >
            <mat-hint>MM/DD/YYYY</mat-hint >
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          
        
        
      </div>
      <div class="col-sm-6">
        <mat-form-field color="accent" appearance="fill">
          <mat-label>End TO</mat-label>
          <input matInput [matDatepicker]="picker2" [(ngModel)]="endDate" >
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 color="primary"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-10 col-12">
        <label for="text" class="h5">Reason</label>
        <textarea name="myTextarea" rows="4" cols="50" placeholder="Enter text here" id="text" class="w-100" [(ngModel)]="reason"></textarea>
<br>
      </div>
      <div class="col-md-12 d-flex">
        <div class="justify-content-right">
          <button class="btn btn-primary" mat-dialog-close (click)="onSubmit()">Submit</button>
        </div>
        <div>
          <button class="btn btn-danger ml-3" mat-dialog-close>Cancel</button>
        </div>
      </div>
    </div>
  </div> -->